@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  font-family: "Roboto", sans-serif;
}
main {
  background: linear-gradient(purple, rgb(115, 208, 216));
  color: white;
  padding: 2rem;
  width: 30%;
  border-radius: 2rem;
}
#search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#search-icon {
  background: white;
  padding: 0.7rem;
  border-radius: 49%;
  margin-left: 1rem;
}
.location-not-found {
  margin-top: 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.col {
  display: flex;
  align-items: center;
}
.fa-magnifying-glass {
  font-size: 1.2rem;
  cursor: pointer;
  color: black;
}
input {
  padding: 1rem 0.6rem;
  width: 100%;
  border-radius: 2rem;
  border: none;
}
#sun-icon {
  width: 70%;
}
img {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
#weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#percent {
  text-align: center;
  font-size: 1.5rem;
  padding: 3rem;
}
#percent span {
  font-weight: 500;
  font-size: 3rem;
}
#details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.humidity,
.wind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1rem;
}
h4 {
  font-weight: 300;
  font-size: 1rem;
}
.fa-water {
  font-size: 2rem;
  margin-right: 0.3rem;
}
.fa-wind {
  font-size: 2rem;
  margin-right: 0.3rem;
}
.humidity span,
.wind span {
  font-size: 0.6rem;
}
@media only screen and (max-width: 990px) {
  body {
    margin: 2rem;
  }
  main {
    width: 60%;
    padding: 2rem;
  }

  #search-icon {
    background: white;
    padding: 0.5rem;
    border-radius: 49%;
    margin-left: 1rem;
  }

  .fa-magnifying-glass {
    font-size: 1rem;
    cursor: pointer;
    color: black;
  }
  input {
    padding: 0.6rem 0.6rem;
  }
  #sun-icon {
    width: 60%;
  }

  #percent {
    font-size: 1.5rem;
  }
  #details p {
    font-size: 0.8rem;
  }
  .fa-water {
    font-size: 2rem;
    margin-right: 0.3rem;
  }
  .fa-wind {
    font-size: 1.8rem;
    margin-right: 0.3rem;
  }
}
@media only screen and (max-width: 690px) {
  main {
    margin-top: 2rem;
    width: 100%;
    padding: 1.5rem;
  }

  #search-icon {
    padding: 0.5rem;
  }

  .fa-magnifying-glass {
    font-size: 1rem;
  }
  input {
    padding: 0.6rem 0.6rem;
  }
  #sun-icon {
    width: 90%;
  }

  #percent {
    font-size: 1.3rem;
  }
  #details p {
    font-size: 0.8rem;
  }
  .fa-water {
    font-size: 1.9rem;
    margin-right: 0.3rem;
  }
  .fa-wind {
    font-size: 1.9rem;
  }
}
